{% extends "layout.njk" %}

{% block pagina %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Cadastro</th>
      <th scope="col">Nome</th>
      <th scope="col">Cidade</th>
      <th scope="col">Telefone</th>
      <th scope="col">Ações</th>
     
    </tr>
  </thead>
  <tbody>
  {% for cadastro in cadastros %}
    <tr>
      <th scope="row">1</th>
      <td>{{cadastro.nome}}</td>
      <td>{{cadastro.cidade}}</td>
      <td>{{cadastro.telefone}}</td>
      <td> 
        <a href="/edit/{{musica.id}}" class="btn btn-primary">Entre</a> 
        <button class="btn btn-danger" onclick="event.preventDefault(); document.getElementById('logout-form-{{cadastro.id}}').submit();">Excluir</button>
      </td>
      <form id="logout-form-{{cadastro.id}}" action="/delete/{{cadastro.id}}" method="POST" style="display: none;">
        <input type="hidden" name="_method" value="DELETE"/>
      </form>
    </tr>
  {% endfor %}  
  </tbody>
</table>

{% endblock %}