<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="assets/css/FPE-Gentella-form-elements.css">
    <link rel="stylesheet" href="assets/css/FPE-Gentella-form-elements.css">
    <link rel="stylesheet" href="assets/css/Navigation-Menu.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background-color:rgb(255,255,255);">
    <nav class="navbar navbar-dark navbar-expand-md bg-dark" style="font-family:Roboto, sans-serif;font-size:22px;padding-bottom:16px;">
        <div class="container-fluid"><a class="navbar-brand text-monospace d-none float-none" href="#"> </a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mx-auto main-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html" id="home">Home </a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="add.html">Cadastro</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Contact </a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-12">
                <h1 class="text-center">Cadastro</h1>
                <form style="padding:100px;margin:0px;">
                    <div class="form-group"><label>Nome</label><input class="form-control" type="text" name="nome" value="nome" placeholder="Your name" autofocus=""></div>
                    <div class="form-group"><label>Cidade</label><input class="form-control" type="text" name="cidade" placeholder="cidade"></div>
                    <div class="form-group"><label>Celular</label><input class="form-control" type="tel" name="celular" placeholder="celular"></div><button class="btn btn-dark" type="submit">Send </button></form>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>