<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="assets/css/FPE-Gentella-form-elements.css">
    <link rel="stylesheet" href="assets/css/FPE-Gentella-form-elements.css">
    <link rel="stylesheet" href="assets/css/Navigation-Menu.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="font-size:18px;background-color:rgb(255,255,255);font-family:Roboto, sans-serif;">
    <div class="container" style="margin-top:0px;">
        <div class="row" style="padding-bottom:20px;margin-right:-10px;">
            <div class="col" style="color:rgb(255,255,255);">
                <nav class="navbar navbar-light navbar-expand-md" style="padding:0px;padding-bottom:0px;">
                    <div class="container"><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navcol-1" style="margin-bottom:10px;margin-right:0px;margin-left:20px;">
                            <ul class="nav navbar-nav" style="font-family:Roboto, sans-serif;">
                                <li class="nav-item" role="presentation"><a class="nav-link text-monospace active" href="#" style="font-family:Roboto, sans-serif;">Home</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Cadastrar</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link text-monospace" href="#" style="font-family:Roboto, sans-serif;">Clientes</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive" style="padding:15px;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Cidade</th>
                                <th>Celular</th>
                                <th class="table-active" style="width:230px;">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                            <tr>
                                <td>Cell 1</td>
                                <td>Cell 2</td>
                                <td>Cell 2</td>
                                <td><a class="btn btn-primary" role="button" href="cadastro.html" style="margin-right:35px;">Entre</a><button class="btn btn-danger" type="button">Exclui</button></td>
                            </tr>
                            <tr>
                                <td>Cell 1</td>
                                <td>Cell 2</td>
                                <td>Cell 2</td>
                                <td><a class="btn btn-primary" role="button" href="cadastro.html" style="margin-right:35px;">Entre</a><button class="btn btn-danger" type="button">Exclui</button></td>
                            </tr>
                            <tr>
                                <td>Cell 1</td>
                                <td>Cell 2</td>
                                <td>Cell 2</td>
                                <td><a class="btn btn-primary" role="button" href="cadastro.html" style="margin-right:35px;">Entre</a><button class="btn btn-danger" type="button">Exclui</button></td>
                            </tr>
                            <tr>
                                <td>Cell 1</td>
                                <td>Cell 2</td>
                                <td>Cell 2</td>
                                <td><a class="btn btn-primary" role="button" href="cadastro.html" style="margin-right:35px;">Entre</a><button class="btn btn-danger" type="button">Exclui</button></td>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>