{% extends "layout.njk" %}

{% block pagina%}

	<!-- Page info section -->
	<section class="page-info-section set-bg" data-setbg="img/page-top-bg/1.jpg" >
		<div class="container text-center">
			<h2>Services</h2>
		</div>
	</section>
	<!-- Page info section end -->


	<!-- Services section -->
	<section class="services-section spad set-bg" data-setbg="img/service-bg.png">
		<div class="container">
			<div class="section-title text-white">
				<h2>Our Services</h2>
			</div>
			<div class="row">
				<!-- service -->
				<div class="col-lg-4 col-md-6 service text-white">
					<i class="flaticon-016-woman"></i>
					<h2>Hair Dressing</h2>
					<p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat.</p>
				</div>
				<!-- service -->
				<div class="col-lg-4 col-md-6 service text-white">
					<i class="flaticon-017-soap"></i>
					<h2>Zen Massage</h2>
					<p>Aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat sollicitudin </p>
				</div>
				<!-- service -->
				<div class="col-lg-4 col-md-6 service text-white">
					<i class="flaticon-009-makeup-5"></i>
					<h2>Manicure & Pedicure</h2>
					<p>Scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. Maecenas sollicitudin </p>
				</div>
				<!-- service -->
				<div class="col-lg-4 col-md-6 service text-white">
					<i class="flaticon-048-makeup"></i>
					<h2>Make Up</h2>
					<p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat.</p>
				</div>
				<!-- service -->
				<div class="col-lg-4 col-md-6 service text-white">
					<i class="flaticon-045-eyelid"></i>
					<h2>Tanning Bed</h2>
					<p>Aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat sollicitudin </p>
				</div>
				<!-- service -->
				<div class="col-lg-4 col-md-6 service text-white">
					<i class="flaticon-015-facial-mask"></i>
					<h2>Spa Treatments</h2>
					<p>Scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. Maecenas sollicitudin</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Services section end -->


	<!-- Team section -->
	<section class="popular-services-section">
		<div class="container">
			<div class="section-title">
				<h2>Most Popular</h2>
			</div>
			<div class="popular-services-slider owl-carousel">
				<div class="service popular-item">
					<i class="flaticon-048-makeup"></i>
					<h2>Make Up</h2>
					<p>In vitae nisi aliquam, scelerisque leo a, volut-pat sem. Vivamus rutrum dui fermentum eros hen-drerit, id lobortis leo volutpat.</p>
					<a href="#">More Info</a>
				</div>
				<div class="service popular-item">
					<i class="flaticon-017-soap"></i>
					<h2>Spa Treatments</h2>
					<p>In vitae nisi aliquam, scelerisque leo a, volut-pat sem. Vivamus rutrum dui fermentum eros hen-drerit, id lobortis leo volutpat.</p>
					<a href="#">More Info</a>
				</div>
				<div class="service popular-item">
					<i class="flaticon-009-makeup-5"></i>
					<h2>Zen Massage</h2>
					<p>In vitae nisi aliquam, scelerisque leo a, volut-pat sem. Vivamus rutrum dui fermentum eros hen-drerit, id lobortis leo volutpat.</p>
					<a href="#">More Info</a>
				</div>
				<div class="service popular-item">
					<i class="flaticon-017-soap"></i>
					<h2>Spa Treatments</h2>
					<p>In vitae nisi aliquam, scelerisque leo a, volut-pat sem. Vivamus rutrum dui fermentum eros hen-drerit, id lobortis leo volutpat.</p>
					<a href="#">More Info</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Team section end -->



	<!-- Memberships section -->
	<section class="memberships-section">
		<div class="container">
			<div class="section-title text-white">
				<h2>Most Popular</h2>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="team-member memberships-card">
						<img src="img/memberships/1.jpg" alt="">
						<div class="tm-info">
							<h2>Premium Pack</h2>
							<p>$49 / month</p>
							<a href="#"><img src="img/icons/arrow-down.png" alt=""></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="team-member memberships-card">
						<img src="img/memberships/2.jpg" alt="">
						<div class="tm-info">
							<h2>Gold Pack</h2>
							<p>$69 / month</p>
							<a href="#"><img src="img/icons/arrow-down.png" alt=""></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="team-member memberships-card">
						<img src="img/memberships/3.jpg" alt="">
						<div class="tm-info">
							<h2>VIP Pack</h2>
							<p>$79 / month</p>
							<a href="#"><img src="img/icons/arrow-down.png" alt=""></a>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center text-white pt-5">
				<h2 class="mb-4 pb-1">Not a member yet?</h2>
				<a href="#" class="site-btn">Sign Up Now</a>
			</div>
		</div>
	</section>
	<!--  Memberships section end -->

  {% endblock %}