{% extends "layout.njk" %}

{% block pagina%}

<!-- Page info section -->
	<section class="page-info-section set-bg" data-setbg="img/page-top-bg/2.jpg" >
		<div class="container text-center">
			<h2>News</h2>
		</div>
	</section>
	<!-- Page info section end -->


		<!-- Blog section -->
	<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-xl-9 col-lg-8">
					<!-- blog item -->
					<div class="blog-item">
						<div class="blog-thumb set-bg" data-setbg="img/blog/1.jpg">
							<div class="blog-date">August 29, 2018</div>
						</div>
						<div class="blog-content">
							<h3>10 ways to get the perfect hair</h3>
							<div class="blog-meta"><a href="">By Admin</a>|<a href="">in Hair Care</a>|<a href="">2 Comments</a></div>
							<p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat.</p>
							<a href="" class="readmore">More Info</a>
						</div>
					</div>
					<!-- blog item -->
					<div class="blog-item">
						<div class="blog-thumb set-bg" data-setbg="img/blog/2.jpg">
							<div class="blog-date">July 25, 2018</div>
						</div>
						<div class="blog-content">
							<h3>Skin glow with this techniques</h3>
							<div class="blog-meta"><a href="">By Admin</a>|<a href="">in Hair Care</a>|<a href="">2 Comments</a></div>
							<p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat.</p>
							<a href="" class="readmore">More Info</a>
						</div>
					</div>
					<!-- blog item -->
					<div class="blog-item">
						<div class="blog-thumb set-bg" data-setbg="img/blog/3.jpg">
							<div class="blog-date">July 25, 2018</div>
						</div>
						<div class="blog-content">
							<h3>Manicure and Pedicure tips & Tricks</h3>
							<div class="blog-meta"><a href="">By Admin</a>|<a href="">in Hair Care</a>|<a href="">2 Comments</a></div>
							<p>In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat.</p>
							<a href="" class="readmore">More Info</a>
						</div>
					</div>
					<button class="site-btn load-more">Load more posts</button>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-6 sidebar">
					<div class="sb-widget">
						<form class="sb-search">
							<input type="text">
							<button>Search</button>
						</form>
					</div>
					<div class="sb-widget">
						<h5 class="sbw-title">Categories</h5>
						<ul>
							<li><a href="">Hair Care</a></li>
							<li><a href="">Beauty Salon</a></li>
							<li><a href="">Cosmetics</a></li>
							<li><a href="">Tips & Tricks</a></li>
							<li><a href="">Uncategorized</a></li>
						</ul>
					</div>
					<div class="sb-widget">
						<h5 class="sbw-title">Archives</h5>
						<ul>
							<li><a href="">March 2018</a></li>
							<li><a href="">April 2018</a></li>
							<li><a href="">July 2018</a></li>
							<li><a href="">August 2018</a></li>
							<li><a href="">September 2018</a></li>
						</ul>
					</div>

					<div class="sb-widget">
						<h5 class="sbw-title">Latest Posts</h5>
						<div class="latest-posts-widget">
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="img/blog/thumb/1.jpg"></div>
								<div class="lp-content">
									<h6>Vivamus rutrum dui</h6>
									<span>July 22, 2018</span>
								</div>
							</div>
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="img/blog/thumb/2.jpg"></div>
								<div class="lp-content">
									<h6>Rutrum dui fermentum</h6>
									<span>July 22, 2018</span>
								</div>
							</div>
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="img/blog/thumb/3.jpg"></div>
								<div class="lp-content">
									<h6>Vivamus rutrum dui</h6>
									<span>July 22, 2018</span>
								</div>
							</div>
						</div>
					</div>
					<div class="sb-widget">
						<a href="#" class="add"><img src="img/add.jpg" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog section end -->

{% endblock %}